/* W3.CSS 3.02 Mar 2017 by Jan Egil and Borge Refsnes */

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
html{box-sizing:border-box}*,*:before,*:after{
	box-sizing:inherit
}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}


/*Navigatiebalk */

.topbar {
	position: fixed;
	width: 100%; 
	z-index: 1;
	top: 0
}
.bar{
	width: 100%;
	overflow: hidden;
	color: #000;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.bar .nav-tekst {
	padding: 8px 16px;
	float: left;
	background-color: inherit;
	color: inherit;
	width: auto;
	border: none; 
	outline: none; 
	display: block;
}


.nav-tekst{
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	background-color: inherit;
	color: inherit;
	border: none;
	outline: none;
	white-space: normal;
}


.button{
	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	text-align: center;
	white-space: nowrap
}


.button:hover{
	color: #000!important;
	background-color: #ccc!important
}



.homeknop{
	letter-spacing:4px;
	font-family:"Segoe UI",Arial,sans-serif
}

.menu-rechts{
	float: right!important
}

/* Content Index en over mij pagina*/

.achtergrond {
    background-position: center;
    background-size: cover;
    background-image: url("http://i.imgur.com/xXSILd7.jpg");
    min-height: 100%;
}

.tint{
	-webkit-filter:grayscale(50%);
	filter:grayscale(50%)
}

.content-links {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(-0%,-50%);
	color: #fff!important;
}

.titel {
	font-size: 64px
}

.tekst{
	font-size: 18px
}

.foto {
  background-image: url(fotoik.png);
  background-size: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: black;
  margin: 500px 500px
  position: relative;
  -webkit-animation: anm_profilepic 1s;
  /* Safari 4.0 - 8.0 */
  animation: anm_profilepic 1s;
}

/* Opdrachtenpagina's*/

#ClickHere{
	border: 2px #009688;
	padding: 50px
	text-decoration: none;
    color: #009688;
    cursor: pointer;
}

.main-content{
	transition: margin-left .4s;
	margin-left: 230px;
	margin-right: 0px;
}


.tekst-content1{
	content: "";
	display: table;
	clear: both;
	padding-top: 64px!important;
	padding-bottom: 64px!important;
}

.tekst-content{
	content: "";
	display: table;
	clear: both;
}

.content-rechts {
	content: "";
	display: table;
	clear: both;
	float: left;
	width:66.66666%;
	padding:0.01em 16px;
}


.titelkleur {
	color: #009688!important;
}


.container{
	padding:0.01em 16px;
}


.afbeelding{
	float: left;
	width:33.33333%;
	padding:0 8px
}









